APP_ENV=dev

DB_HOST=localhost
DB_PORT=3306
DB_NAME=payments
DB_USER=payments
DB_PASSWORD=payments

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=payments
RABBITMQ_PASS=payments

JWT_SECRET=nestch
JWT_ALGORITHM=HS256
